<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.news.mapper.ChatMapper">
    <insert id="addChatInfo">
        insert into af_chat(user_id,category_id,chat_messages_json,chat_advise,create_time) values (#{userId},#{categoryId},#{chatMessagesJson},#{chatAdvise},#{createTime})
    </insert>

    <!--    <sql id="getUser">-->
<!--        SELECT-->
<!--            u.username,-->
<!--            u.gender,-->
<!--            u.email-->
<!--        FROM sys_user as u-->
<!--        WHERE u.id = #{id}-->
<!--    </sql>-->

<!--    <resultMap id="NewsDo" type="top.continew.admin.news.model.NewsDO">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="username" column="username"/>-->
<!--        <result property="gender" column="gender"/>-->
<!--        <result property="email" column="email"/>-->
<!--    </resultMap>-->

<!--    <select id="getUserById" resultMap="NewsDo">-->
<!--        SELECT-->
<!--            u.username,-->
<!--            u.gender,-->
<!--            u.email-->
<!--        FROM sys_user as u-->
<!--        WHERE u.id = #{id}-->
<!--    </select>-->
    <select id="getChatById" resultType="top.continew.admin.news.model.ChatDO">
        select * from af_chat where user_id = #{userId} and category_id = #{categoryId} order by chat_id desc
    </select>

    <select id="getQuestionByCategory" resultType="top.continew.admin.news.model.RepoDO">
        select * from af_question_repo where category_id = #{categoryId}
    </select>
</mapper>
